include ./../../components/error-block/error-block.pug

doctype html
html(lang="ru")
  head
    include ./../../../src/layout/head.pug
  body.body
    main
      +error-block('500', 'Мы уже чиним', 'Назад к чатам', './')