.chat-send-button {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: var(--primary);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.chat-send-button::before {
  content: '';
  position: absolute;
  background-color: var(--white);
  width: 10px;
  height: 2px;
  left: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.chat-send-button::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
  right: 9px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
