@import '../src/pages/chats/components/chat-card/chat-card.css';
@import '../src/components/input/input.css';
@import '../src/components/error-block/error-block.css';
@import '../src/components/validated-input/validated-input.css';
@import '../src/components/submit-button/submit-button.css';
@import '../src/pages/chats/components/chat-list/chat-list.css';
@import '../src/pages/chats/components/chat-window/chat-window.css';
@import '../src/pages/chats/components/chat-send-button/chat-send-button.css';
@import '../src/pages/login/login.css';
@import '../src/pages/signup/signup.css';
@import '../src/pages/profile/profile.css';
@import '../src/pages/not-found/not-found.css';
@import '../src/pages/server-error/server-error.css';
@import '../src/pages/chats/chats.css';
@import '../src/pages/profile-editing/profile-editing.css';

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Inter', sans-serif;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

p {
  margin: 0;
}

.body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

:root {
  --white: #fff;
  --primary: #3369f3;
  --textColor01: #1e1e1e;
  --textColor02: #999;
  --navBackgroundColor: #fbfbfb;
  --borderColor: #eaeaea;
  --neutralBackgroundColor: #efefef;
  --errorColor: #ff2f2f;
}